body {
  background-image: url(../img/fon.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 79px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.menu-title:hover {
  color: #01813f;
  transition: 1s;
}
.menu-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.menu-item {
  display: flex;
  align-items: center;
}
.menu-web {
  text-decoration: none;
}
.web-text {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  word-spacing: 3px;
}
.svg {
  padding-right: 25px;
}
.menu-hover:hover {
  color: #01813f;
  transition: 1s;
}
.text-decoration1 {
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  padding-left: 27px;
  padding-right: 6px;
}

.first:hover {
  fill: #01813f;
  transition: 1s;
}
.registration-form {
  width: 444px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin: 54px auto 74px auto;
  padding-top: 31px;
  padding-bottom: 38px;
  position: relative;
  bottom: 0;
  left: 0;
  transform: translate(-5%, 25%);
}
.registration-form::before {
  content: "";
  background-color: #3cb878;
  width: 18px;
  height: 18px;
  padding-right: 18px;
  margin-right: 42px;
}
.registration-form-item {
  padding-right: 60px;
  padding-left: 60px;
  width: 444px;
}
.container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}
.log-web {
  text-decoration: none;
}
.form-title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.login {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  align-items: center;
}
.login:hover {
  color: #01813f;
  transition: 1s;
}
.login-account {
  margin-top: 15px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
  border-radius: 4px;
}
.first {
  display: flex;
  font-size: 28px;
  line-height: 16px;
  font-weight: 700;
  align-items: center;
}
.faceb::after {
  content: "|";
  opacity: 0.1;
  padding-left: 17px;
  padding-right: 17px;
}
.googg::after {
  content: "|";
  opacity: 0.1;
  padding-right: 29px;
}
.face {
  background-color: #305db8;
  padding-left: 16px;
  padding-right: 21px;
}
.face:hover {
  background-color: #022263;
  transition: 1s;
}
.goog {
  background-color: #df4a32;
  padding-left: 12px;
  padding-right: 22px;
}
.goog:hover {
  background-color: #ab1f09;
  transition: 1s;
}
.another {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
  margin-top: 31px;
  margin-bottom: 0;
  position: relative;
}
.another::before {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  bottom: 50%;
  right: 172px;
}
.another::after {
  display: block;
  width: 152px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
  top: 50%;
  left: 172px;
}
.first-register-list {
  margin-top: 12px;
  color: #434343;
}
.register-list {
  width: 322px;
  margin-bottom: 15px;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border: 1px solid #f2f2f2;
}
.register-list:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}
.agree-list {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.agree-text {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.agree-item {
  font-size: 14px;
  line-height: 14px;
  padding-left: 8px;
  cursor: pointer;
  display: inline-block;
}
.agree-span {
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
}
.agree-span:hover {
  color: #01813f;
  transition: 1s;
}
.forma-web {
  text-decoration: none;
  color: #ffffff;
}
.web-text-create {
  margin: 12px 0 0 0;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.web-text-create:hover {
  background-color: #01813f;
  transition: 1s;
}
