body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  width: 1030px;
  background-color: transparent;
  position: relative;
  bottom: 0;
  left: 0;
  transform: translate(0, 20%);
}
.contact {
  display: flex;
  justify-content: space-between;
}
.contact-logo {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 51px;
}
.contact-logo-img {
  padding-right: 8px;
}
.contact-logo-img:hover {
  fill: #f26522;
  transition: 0.5s;
}
.contact-logo-web {
  text-decoration: none;
}
.contact-text {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
}
.contact-text:hover {
  color: #f26522;
  transition: 0.5s;
}
.milan {
  font-size: 29px;
  line-height: 29px;
}
.holidays {
  font-size: 18px;
  line-height: 18px;
}
.contact-us {
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 46px;
}
.contact-web-us:hover {
  color: #f26522;
  transition: 0.5s;
}
.contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-web-us {
  text-decoration: none;
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.tour-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
}
.tour-items {
  margin-bottom: 37px;
}
.tours-img {
  margin-bottom: 20px;
}
.tours-web {
  display: block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
}
.tours-web:hover {
  transition: 0.5s;
  color: #f26522;
}
.details {
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 100%;
  opacity: 0;
}
.details-list {
  position: absolute;
  bottom: 0px;
  width: 300px;
  padding: 7px 16px 12px 12px;
  background-color: #f26522;
}
.details-item {
  margin: 0;
  color: #ffffff;
}
.unite {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.details-text::after {
  content: "";
  background-image: url(../img/vector.png);
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.details-title {
  font-size: 10px;
  line-height: 10px;
  text-align: start;
}
.price {
  font-size: 20px;
  line-height: 20px;
}
.details-text {
  font-size: 14px;
  line-height: 14px;
}
.details:hover {
  bottom: 40px;
  opacity: 1;
  transition: 1s;
}
.copy-text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 15px;
}
