.centered-content {
  margin: 0;
  width: 800px;
}
.tabs {
  display: flex;
  justify-content: space-between;
}
.tabs-title {
  cursor: pointer;
  flex: 1;
  padding: 20px;
}
.tab {
  display: none;
  padding: 20px;
  background-color: #f2f2f2;
}
.tab.is-active {
  display: block;
}
